[[extend 'layout.html']]

<div class="section">
  <h5>Device List by [[=role]]</h5>
  <div class="vars">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Commands</th>
          <th>Results</th>
        </tr>
        [[for device in devices:]]
        <tr>
          <td><a href="[[=URL('devices', device['id'])]]">[[=device['id']]]</a></td>
          <td><a href="[[=URL('devices', device['id'])]]">[[=device['name']]]</a></td>
          <td>
          [[for command in device['commands']:]]
            <div>[[=command]]:[[=device['commands'][command]]]</div>
          [[pass]]
          </td>
          <td>
            <a href="[[=URL('devices', device['id'], 'results')]]">[[=list(device['results'].keys())]]</a>
          </td>
        </tr>
        [[pass]]
      </table>
  </div>
</div>
<div>
  <a href="[[=URL('devices')]]">Back to Devices</a>
</div>
<button 
  type="button" class="btn btn-primary" @click="bcm_button_run_cmds_roles([[=role]])">Run Commands
</button>
