[[extend 'layout.html']]

<section>
  <div>Select a device role</div>
  <select class="form-select form-select-sm" aria-label=".form-select-sm"
    name="select_role" @change="selected_device_role($event), select_device=null"
    v-model="select_role">
    <option selected disabled>Select a role</option>
    <option v-for="role in device_roles" :value="role">{{ role }}</option>
    <option selected>ALL</option>
  </select>
  <div>Selected: {{ select_role }}</div>
  
  <div>Select a device</div>
  <select class="form-select form-select-sm" aria-label=".form-select-sm"
    name="select_device" @change="selected_device($event)" v-model="select_device">
    <option selected disabled>Select a device</option>
    <option v-for="device in devices_by_role" :value=device.id>{{ device.name }}</option>
  </select>
  <div>Selected: {{ select_device }}</div>
</section>

<div class="section">
  <h5>Device List</h5>
  <div class="vars">
      <table>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Roles</th>
          <th>Commands</th>
          <th>Results</th>
        </tr>
        <tr v-if="device">
          <td>{{ device.id }}</td>
          <td>{{ device.name }}</td>
          <td>
            <ul>
              <li v-for="role in device.device_roles">{{ role }}</li>
            </ul>
          </td>
          <td>
            <div v-for="(command, idx) in device.commands">{{ idx }}: {{ command }}</div>
          </td>
          <td v-if="device.results && Object.keys(device.results).length > 0">
            <a :href="bcm_device_results_url(device.id)">{{ Object.keys(device.results).slice(-9) }}</a>
          </td>
          <td v-else>
            {{ Object.keys(device.results).slice(-9) }}
          </td>
        </tr>
        <tr v-else-if="devices_by_role" v-for="device in devices_by_role">
          <td>{{ device.id }}</td>
          <td>{{ device.name }}</td>
          <td>
            <ul>
              <li v-for="role in device.device_roles">{{ role }}</li>
            </ul>
          </td>
          <td>
            <div v-for="(command, idx) in device.commands">{{ idx }}: {{ command }}</div>
          </td>
          <td v-if="device.results && Object.keys(device.results).length > 0">
            <a :href="bcm_device_results_url(device.id)">{{ Object.keys(device.results).slice(-9) }}</a>
          </td>
          <td v-else>
            {{ Object.keys(device.results).slice(-9) }}
          </td>
        </tr>
        <tr v-else v-for="device in devices">
          <td>{{ device.id }}</td>
          <td>{{ device.name }}</td>
          <td>
            <ul>
              <li v-for="role in device.device_roles">{{ role }}</li>
            </ul>
          </td>
          <td>
            <div v-for="(command, idx) in device.commands">{{ idx }}: {{ command }}</div>
          </td>
          <td v-if="device.results && Object.keys(device.results).length > 0">
            <a :href="bcm_device_results_url(device.id)">{{ Object.keys(device.results).slice(-9) }}</a>
          </td>
          <td v-else>
            {{ Object.keys(device.results).slice(-9) }}
          </td>
        </tr>
      </table>
  </div>
</div>

<section v-if="devices_by_role !== null">
  <button v-if="device"
    type="button" class="btn btn-primary" @click="button_run_cmds(device)">Run Commands on {{ device.name }}
  </button>
  <button v-else-if="devices_by_role.length > 0 && select_role === 'ALL'"
    type="button" class="btn btn-primary" @click="button_run_cmds_role(select_role)">Run Commands on {{ select_role }}
  </button>
  <button v-else-if="devices_by_role.length > 0"
    type="button" class="btn btn-primary" @click="button_run_cmds_role(select_role)">Run Commands on all {{ select_role }}
  </button>
  <button v-else disabled
    type="button" class="btn btn-primary" @click="button_run_cmds_role(select_role)">Run Commands on all {{ select_role }}
  </button>
</section>
<section v-else>
  <button disabled
    type="button" class="btn btn-primary" @click="button_run_cmds_role('ALL')">Run Commands on ALL
  </button>
</section>
