[[extend 'layout.html']]

<div class="section">
  <div class="vars">
      Time: [[=message]]
  </div>
  
  <div>Select a device</div>
  <select class="form-select form-select-sm" aria-label=".form-select-sm"
    name="select_device" @change="selected_device" v-model="select_device">
    <option v-for="device in devices" :value=device.id>{{ device.name }}</option>
  </select>
  <div>Selected: {{ select_device }}</div>

  <div><a href="[[=URL('results')]]">Results Page</a></div>
  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  const devices_url = "[[=XML(devices_url)]]";
</script>
<script src="js/bcm.js"></script>
